body{
  background: #f3f5fc;
  margin: 0;
  padding: 0;
}

.container{
  margin: auto;
  width: 960px;
  height: 650px;
  padding: 5px;
}

.logo{
  width: 100%;
  float: left;
}

.logo-img{
  float: inherit;
  margin-top: 1%;
  margin-left: 5%;
}

.txt-esquerdo{
  margin-top: 1%;
  float: left;
  width: 65%;
  height: 70%;
  border: #00008b solid 1px;  
  border-radius: 20px
  
}

#text-area-esq{
  float: left;
  margin-left: 10%;
  margin-top: 15%;
  width: 80%;
  height: 60%;
  color: #00008b;
  font-size: 18px;
  border: none;
  outline: none;
  background: #f3f5fc;
}

.txt-direito{
  float: right;
  width: 30%;
  height: auto;
  padding-bottom: 5%;
  border-radius: 20px;
  background: #ffa500;
}

.menino-img{
  margin-top: 8%;
  margin-left: 2%;
  width: 90%;
  height: auto;  
}

.texto-lupa{
  margin-left: 7%;
  margin-right: 5%;
  font-size: 25px;
}

.txt-area{
  float: left;
  margin-left: 10%;
  color:#00008b;
  width: 80%;
  height: 60%;
  border: none;
  outline: none;
  font-size: 15px;
}

#copia{
  margin-left: 33%;
  margin-top: 12%;
  display: none;
  padding: 15px;
  width: 40%;
  height: 10%;
  background: #d8dfeb;
  border-radius: 20px;
}

.aviso{
  font-size: 18px;
  color:#00008b;
  margin-left: 35%;
}

.botoes{
  float: left;
  width: 70%;
  height: auto;
  border-radius: 24px;
}

#btn-encriptar{
  padding: 3%;
  width: 30%;
  height: 60%;
  border-radius: 20px;
  margin-left: 15%;
  background: #0A3871;
  color: #d8dfeb;
  font-weight: bold;
}

#btn-desencriptar{
  padding: 3%;
  width: 30%;
  height: 60%;
  border-radius: 20px;
  margin-left: 10%;
  background: #d8dfeb;
  color: #0A3871;
  font-weight: bold;
}